html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

/* #main {
    display: flex;
    flex-direction: column;
} */

h4 {
    margin: 0;
}

#navbar > ul {
    display: inline-block;
    width: fit-content;
    margin: 0 10% 0 auto;
    margin-left: auto;
    padding: 0;
    position: relative;
    flex-shrink: 0;
}

#navbar {
    display: flex;
    align-items: center;
    transition: 0.4s;
    background-color: royalblue;
    padding: 20px;
    top: 0;
    position: sticky;
    overflow: hidden;
    min-height: max-content;
}

.nav-item {
    position: absolute;
    top: 50%;
}

.nav-li {
    display: inline-block;
    margin: 5px;
}

.nav-but {
    font-size: 25px;
    padding: 5px 20px 5px 20px;
    border: 3px solid black;
    border-radius: 8px;
    margin: auto 0 auto 0;
}

#nav-logo {
    display: inline-block;
    transition: 0.4s;
    max-height: 100px;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    background-color: royalblue;
    padding: 0 auto 0 auto;
    width: 100%;
    padding: 20px 0;
    height: max-content;
    margin-top: auto;
}

#fLogo {
    display: inline-block;
    max-height: 100px;
}

.notification {
    position: fixed;
    top: 10px;
    right: calc(50% - 150px);
    width: 300px;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.defNot {
    background-color: #fff;
    border-color: #fff;
}

.errNot {
    background-color: #f00;
    border-color: #f00;
    color: #fff;
}

.warNot {
    background-color: #00f;
    border-color: #00f;
    color: #fff;
}

.notification-close {
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 5px;
}

.notification-close:hover {
    background-color: black;
    color: white;
}

.white {
    color: white;
}

.noUnderline {
    text-decoration: none;
}

/* #content {
    flex-grow: 1;
} */