
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

header {
    position: sticky;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}

header .nav-item {
    display: flex;
    gap: 20px;
}


header #nav-logo {
    width: 200px;
}