.row {
    display: block;
    width: 100%;
    height: 40vh;
}

.rowImg {
    display: inline-block;
    height: 100%;
}

#rowImg0 {
    width: 60%;
    object-fit: cover;
    object-position: 50% 80%;
    overflow: hidden;
}

#rowImg1 {
    width: 50%;
    object-fit: cover;
    object-position: 50% 60%;
    overflow: hidden;
}

#rowImg2 {
    width: 65%;
    object-fit: cover;
    object-position: 50% 80%;
    overflow: hidden;
}

#rowImg3 {
    width: 60%;
    object-fit: cover;
    object-position: 50% 40%;
    overflow: hidden;
}

.rowTxt {
    display: inline-block; 
    background-color: green;
    height: 100%;
    vertical-align: top;
}

#rowTxt0 {
    width: 40%;
}

#rowTxt1 {
    width: 50%;
}

#rowTxt2 {
    width: 35%;
}

#rowTxt3 {
    width: 40%;
}
.rowTxt > p {
    color: white;
}