{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block head %}
	<!-- <link rel="stylesheet" href="{{url_for('static', filename = 'css/contact.css')}}"> -->
{% endblock %}

{% block content %}
	<center>
		<h1>Contact</h1>
		<p>The site is still under development.</p>
		<p>This page will come soon.</p>
		<a href="/">Go Back</a>

		<h3>Todo</h3>
		<ul>
			<li>- add contact form for reservations or questions</li>
			<li>- add contact info</li>
		</ul>
		<p></p>
	</center>
{% endblock %}