<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/base.css">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

		<title>{% block title %}{% endblock %} - Hybridlights(dev)</title>
		{% block head %}
		{% endblock %}
	</head>
	<body>
		<header id="navbar">
			<a href="/{{lang}}/index.html" style="display: inline-block;">
				<img id="nav-logo" src="/static/assets/logo-c-rmbg.png" alt="hybridcraft">
			</a>
			<ul class="nav-item">
				<li class="nav-li"><a href="/{{lang}}/about-us.html"><button class="nav-but">about us</button></a></li>
				<li class="nav-li"><a href="/{{lang}}/pricing.html"><button class="nav-but">pricing</button></a></li>
				<li class="nav-li"><a href="/{{lang}}/contact.html"><button class="nav-but">contact</button></a></li>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer>
			<div>
				<a href="/">
					<img id="fLogo" src="/static/assets/logo-c-rmbg.png" alt="hbridlights">
				</a>
				<p class="white">Version: {{version}}</p>
			</div>
			<div id="fSiteMap">
				<h4 class="white">Sitemap</h4>
				<p class="white">
				- <a class="white noUnderline" href="/{{lang}}">Home Page</a><br>
				- <a class="white noUnderline" href="/{{lang}}/about-us.html">About-us</a><br>
				- <a class="white noUnderline" href="/{{lang}}/pricing.html">Pricing</a><br>
				- <a class="white noUnderline" href="/{{lang}}/contact.html">Contact</a>
				</p>
			</div>
			<div id="fCopyRight">
				<h4 class="white">CopyRight</h5>
				<p class="white">
					Site created by <a class="white noUnderline" href="https://www.github.com/tommie1236" target="_blank">Timo Oosterom</a><br>
					In collaboration with <a class="white noUnderline" href="https://github.com/ntdev-technology" target="_blank">NTDev-Technology</a></p>
				</div>
			<div id="fLegal">
				<h4 class="white">Legal ?</h4>
			</div>
		</footer>
		<script src="/static/js/base.js"></script>
		{% block js %}{% endblock %}
	</body>
</html>